@import "parameters";
@import "layout";
@import "typography";
@import "vue-transition";

html {
  margin: 0;
  padding: 0;
  font-family: 'GT Cinetype', sans-serif;
  font-size: var(--l6t-unit);
  scroll-behavior: smooth;
  background: var(--l6t-color-light);
}

body {
  @extend .l6t-font-p;
  margin: 0;
  padding: 0;
  font-size: .8rem;
  line-height: 1rem;
}

a {
  color: inherit;
}

.l6t-img {
  display: block;
  border-radius: 1rem;
}

.l6t-text--alternate {
  font-family: GTCinetypeMono, monospace;

  i {
    font-family: 'GT Cinetype', sans-serif;
  }
}

.l6t-no-margin {
  > *:first-child {
    margin-top: 0 !important;
  }

  > *:last-child {
    margin-bottom: 0 !important;
  }
}
