:root {
  --l6t-unit:         20px;

  --l6t-gutter:       var(--l6t-unit);
  --l6t-gutter-half:  calc( var(--l6t-gutter) / 2);

  --l6t-app-header-height: 4rem;

  --l6t-color-dark:   #000;
  --l6t-color-light:  #e3e1e0;

  --l6t-color-theme-red:    #ff8767;
  --l6t-color-theme-blue:   #0091d1;
  --l6t-color-theme-yellow: #d8be00;
  --l6t-color-theme-purple: #af5ea1;
  --l6t-color-theme-salmon: #f39777;
  --l6t-color-theme-green:  #93cba2;

  --l6t-ui-line: 1px;
}
