@font-face {
  font-family: 'GT Cinetype';
  src: url('../assets/GT-Cinetype/GT-Cinetype-Regular.otf') format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GT Cinetype';
  src: url('../assets/GT-Cinetype/GT-Cinetype-Regular-Italic.otf') format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'GT Cinetype';
  src: url('../assets/GT-Cinetype/GT-Cinetype-Bold.otf') format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'GT Cinetype';
  src: url('../assets/GT-Cinetype/GT-Cinetype-Bold-Italic.otf') format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'GTCinetypeMono';
  src: url('../assets/GT-Cinetype/GT-Cinetype-Mono.otf') format("opentype");
  font-weight: 400;
  font-style: normal;
}
