.l6t-g {
  display: flex;
  flex-wrap: wrap;

  &.l6t-g--direction-column {
    flex-direction: column;
  }

  &.l6t-g--space-between {
    justify-content: space-between;
  }
}


.l6t-g__coll-1-6 { display:block; width: calc(100% / 6 * 1); }
.l6t-g__coll-2-6 { display:block; width: calc(100% / 6 * 2); }
.l6t-g__coll-3-6 { display:block; width: calc(100% / 6 * 3); }
.l6t-g__coll-4-6 { display:block; width: calc(100% / 6 * 4); }
.l6t-g__coll-5-6 { display:block; width: calc(100% / 6 * 5); }
.l6t-g__coll-6-6 { display:block; width: calc(100% / 6 * 6); }

.is-medium-screen,
.is-large-screen {
  .l6t-g-m__coll-1-6 { display:block; width: calc(100% / 6 * 1); }
  .l6t-g-m__coll-2-6 { display:block; width: calc(100% / 6 * 2); }
  .l6t-g-m__coll-3-6 { display:block; width: calc(100% / 6 * 3); }
  .l6t-g-m__coll-4-6 { display:block; width: calc(100% / 6 * 4); }
  .l6t-g-m__coll-5-6 { display:block; width: calc(100% / 6 * 5); }
  .l6t-g-m__coll-6-6 { display:block; width: calc(100% / 6 * 6); }

  .l6t-g {
    &.l6t-g-m--direction-column {
      flex-direction: column;
    }

    &.l6t-g-m--space-between {
      justify-content: space-between;
    }
  }
}

.is-large-screen {
  .l6t-g-l__coll-1-6 { display:block; width: calc(100% / 6 * 1); }
  .l6t-g-l__coll-2-6 { display:block; width: calc(100% / 6 * 2); }
  .l6t-g-l__coll-3-6 { display:block; width: calc(100% / 6 * 3); }
  .l6t-g-l__coll-4-6 { display:block; width: calc(100% / 6 * 4); }
  .l6t-g-l__coll-5-6 { display:block; width: calc(100% / 6 * 5); }
  .l6t-g-l__coll-6-6 { display:block; width: calc(100% / 6 * 6); }

  .l6t-g {
    &.l6t-g-l--direction-column {
      flex-direction: column;
    }

    &.l6t-g-l--space-between {
      justify-content: space-between;
    }
  }
}

.l6t-with_gutter {
  box-sizing: border-box;
  padding-left:   var(--l6t-gutter-half);
  padding-right:  var(--l6t-gutter-half);
}

.l6t-with_row {
  box-sizing: border-box;
  padding-top:   var(--l6t-gutter-half);
  padding-bottom:  var(--l6t-gutter-half);
}

.l6t-remove-child-margin {
  > *:first-child {
    margin-top: 0 !important;
  }

  > *:last-child {
    margin-bottom: 0 !important;
  }
}

button {
  display: inline-block;
  font-size: .8rem;
  line-height: 1rem;
  padding: .5rem;
}

form {
  display: block;

  > * {
    display: block;
  }

  label {
    font-size: .8rem;
    line-height: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
    width: 100%;
    box-sizing: border-box;
  }

  input {
    font-size: .8rem;
    line-height: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: 400;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid currentColor 1px;
    background: none;
    width: 100%;
    box-sizing: border-box;
    padding: var(--l6t-gutter-half);
    transition: background-color .25s ease-in-out;

    &:focus-visible {
      outline: none;
      background: rgba(0, 0, 0, .05);
    }
  }

  label > input {
    margin-top: 0;
  }

  textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    background: transparent;
    resize: none;
    border: none;
    border-bottom: solid currentColor 1px;
    padding: var(--l6t-gutter-half);
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    transition: background-color .25s ease-in-out;

    &:focus-visible {
      outline: none;
      background: rgba(0, 0, 0, .05);
    }
  }

  button {
    background: transparent;
    display: block;
    box-sizing: border-box;
    width: 100%;
    border: solid currentColor 1px;
    margin-top: 2rem;
    user-select: none;
    cursor: pointer;

    &.with-img {
      border: none;

      > img {
        pointer-events: none;
        display: block;
        height: 1.5rem;
        margin: auto;
      }
    }
  }
}